<section class="about-audience" data-cms-block="about-audience">
  <div class="container about-audience__container">
    <div class="about-audience__head">
      <h2 class="about-audience__title" data-cms-field="title">Для компаний, где отдел продаж уже<br>вырос, но управляемость не успела</h2>
      <p class="about-audience__lead" data-cms-field="subtitle">Подходит, если звонков много, менеджеры работают по-разному,<br>а руководителю нужны не выборочные проверки, а системный контроль</p>
    </div>

    <div class="about-audience__cards" data-cms-field="cards">
      <article class="audience-card audience-card--b2b">
        <img class="audience-card__image" src="assets/img/about-audience-b2b.png" width="344" height="493" alt="">
        <h3>В2В-продажи</h3>
        <span class="audience-card__badge audience-card__badge--big audience-card__badge--text">B2B</span>
      </article>

      <article class="audience-card audience-card--franchise">
        <img class="audience-card__image" src="assets/img/about-audience-franchise.png" width="344" height="493" alt="">
        <h3>Франшизы</h3>
        <span class="audience-card__badge audience-card__badge--big"><img src="assets/icons/problem-chart-bars.svg" width="21" height="21" alt=""></span>
        <span class="audience-card__badge audience-card__badge--small"><img src="assets/icons/service-arrow.svg" width="13" height="13" alt=""></span>
      </article>

      <article class="audience-card audience-card--teams">
        <img class="audience-card__image" src="assets/img/about-audience-team.png" width="344" height="493" alt="">
        <h3>Распределённые<br>команды</h3>
        <span class="audience-card__badge audience-card__badge--small"><img src="assets/icons/hero-check.svg" width="13" height="13" alt=""></span>
        <span class="audience-card__badge audience-card__badge--big"><img src="assets/icons/problem-users.svg" width="22" height="22" alt=""></span>
      </article>

      <article class="audience-card audience-card--call">
        <img class="audience-card__image" src="assets/img/about-audience-call.png" width="344" height="493" alt="">
        <h3>Внутренние<br>колл-центры</h3>
        <span class="audience-card__badge audience-card__badge--big"><img src="assets/icons/problem-phone.svg" width="22" height="22" alt=""></span>
        <span class="audience-card__badge audience-card__badge--small"><img src="assets/icons/social-whatsapp.svg" width="13" height="13" alt=""></span>
      </article>
    </div>
  </div>
</section>
