{% include "sections/hero.njk" %}
{% include "sections/problems.njk" %}
{% include "sections/solution.njk" %}
{% include "sections/services.njk" %}
{% include "sections/fit.njk" %}
{% include "sections/cases.njk" %}
<div class="delivery-flow" id="delivery" data-cms-block="delivery-flow">
  {% include "sections/workflow.njk" %}
  {% include "sections/support.njk" %}
  {% include "sections/contact.njk" %}
  {% include "partials/footer.njk" %}
</div>
