{% set pageId = "ai" %}
{% set pageTitle = "Корекс системы — веб-сервисы, бизнес и ИИ" %}
{% set pageDescription = "Разрабатываем сложные веб-сервисы, оцифровываем бизнес и внедряем ИИ." %}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "page-content/home.njk" %}
{% endblock %}
